* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .Naser-logo {
    display: flex;
    height: 9rem;
    background-color: #0c1d36;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  
  .Naser-how {
    padding: 1rem 2rem;
    border-radius: 5rem;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f9cc0b;
    font-weight: 600;
    font-size: 1.2rem;
  }
  
  .Naser-Powered {
    display: flex;
    flex-direction: column;
    color: #ffff;
    margin-right: auto;
    padding: 2rem;
  }
  
  .main {
    background-image: url(/img/silivan-munguarakarama-Hing5iQTUnM-unsplash.jpg);
    background-size: cover;
    height: 80vh;
    position: relative;
  }
  
  .testiomaial-text {
    color: #ffff;
    position: absolute;
    top: 20%;
    left: 0;
    transform: translate(+10%, 50%);
  }
  
  .testiomaial-text-header {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 1px;
    line-height: 1.6;
  }
  
  .testiomaial-text-headerp {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 6rem;
  }
  
  strong {
    color: #f9cc0b;
  }
  
  .trad-in {
    padding: 2rem 2rem;
    border-radius: 9px;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f9cc0b;
    font-weight: 700;
    font-size: 1.5rem;
    height: 5rem;
  }
  
  .how-to::before {
    content: "";
    position: absolute;
    top: 60;
    left: 6%;
    z-index: -1;
    width: 10%;
    padding-bottom: 2%;
    display: block;
    background-color: #f9cc0b;
  }
  
  .how-to {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
  }
  
  .flex-second {
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid #adb5bd;
    color: #333;
    padding: 2rem;
  }
  
  .flex-second p {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .parent-flex {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 50%;
  }
  
  .parent-flex2 p {
    display: inline-block;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  
  .first-cart {
    border: 2px solid #f9cc0b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.9rem;
    width: 14rem;
    height: 16rem;
    margin-bottom: 6rem;
  }
  
  .phone-stars {
    width: 10%;
    stroke: #f9cc0b;
    fill: #f9cc0b;
    margin-bottom: 1rem;
  }
  
  .icon-box {
    display: flex;
    justify-content: center;
  }
  
  .second-cart {
    width: 14rem;
    height: 16rem;
    border: 1px solid #f9cc0b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.9rem;
  }
  
  .thred-cart {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    border-radius: 0.9rem;
  }
  
  .thred-cart-box {
    gap: 2rem;
    display: inline-block;
    border-radius: 0.9rem;
    border: 2px solid #f9cc0b;
    font-size: 1.4rem;
    padding: 2rem;
    width: 15rem;
    text-align: center;
  }
  
  .child-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
  
  .center {
    text-transform: uppercase;
    margin-bottom: 2rem;
    color: #333;
    font-weight: 600;
  }
  
  .main-action {
    height: 100rem;
  }
  
  .center-left {
    margin-bottom: 7rem;
    color: #333;
    font-weight: 600;
    font-size: 4rem;
  }
  
  .open-and {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-right: 3rem;
    width: 100%;
    height: 5rem;
    font-size: 1.4rem;
    color: #333;
    gap: 3rem;
  }
  
  .open-and p {
    background-color: #0c1d36;
    border-radius: 9px;
    text-align: center;
    padding: 0.5rem;
    color: #ffff;
  }
  
  .parent-of-imgbox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    height: 10rem;
    padding: 4rem;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    box-shadow: 0px -2px 8px -5px rgba(0,0,0,0.86);
    -webkit-box-shadow: 0px -2px 8px -5px rgba(0,0,0,0.86);
    -moz-box-shadow: 0px -2px 8px -5px rgba(0,0,0,0.86);
  }
  
  .parent-of-imgbox p {
    font-size: 2rem;
  }
  
  .ihpne-img {
    width: auto;
    height: 10rem;
    padding: 1rem;
  }
  
  .trad-in2 {
    padding: 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    background-color: #f9cc0b;
    height: 4rem;
    border-radius: 9px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
  }
  
  .parentOf-2 {
    display: flex;
    gap: 2rem;
    height: 20vh;
  }
  
  .child {
    padding: 1rem 4rem;
    height: 5rem;
    width: auto;
  }
  
  .button-iphone14 {
    padding: 2rem 
  }